@import "../../node_modules/bootstrap/less/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
    font-family: 'Open Sans', Arial;
}
.gray-bar {
  height: 50px;
  background: #82999F;
}
.green-bar {
  height: 4px;
  background: #B6D16A;
}
.logo .img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.greeting {
    padding: 20px;
}

.wrapper {
    float: left;
    clear: left;
    display: table;
    table-layout: fixed;
}

 .img-responsive {
    display: table-cell;
    max-width: 100%;
}
